<section class="content-header">
  <h1>Conteúdos bíblicos</h1>
</section>

<section class="content">
  <p class="lead">Recursos para estudos bíblicos disponibilizados gratuitamente</p>
  <p class="lead"> O Código fonte do aplicativo está disponibilizado em (<a
      href="https://github.com/MarcioAndrade/Biblia" target="_blank">https://github.com/MarcioAndrade/Biblia</a>)
  <p class="lead">Versões:</p>
  <div class="col-xs-6 table-responsive" *ngIf="versoes?.length > 0">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let ver of versoes">
          <td class="text-left">{{ver.id}}ª</td>
          <td class="text-left">{{ver.nome}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
