<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Caixinha de promessas</h1>
    </div>
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="col-lg-12 form-group">
          <div class="col-lg-12 form-group" *ngIf="caixaPromessa?.texto?.length > 0">
            <p class="text-justify">"{{caixaPromessa?.texto}}"</p>
            <p class="text-center"><strong>{{caixaPromessa?.referencia}}</strong></p>
          </div>

          <div class="col-lg-12 form-group">
            <input id="btnVersiculo" value="Buscar promessas" class="btn btn-primary form-control" type="submit"
              (click)='ObterCaixinhaPromessa()' />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
