<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Caixinha de promessas</h1>
    </div>
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="col-lg-12 form-group">
          <div class="col-lg-12 form-group">
            <p>"{{caixaPromessa.texto}}"</p>
            <p><strong>{{caixaPromessa.referencia}}</strong></p>
          </div>

          <div class="col-lg-12 form-group">
            <input id="btnVersiculo" value="Buscar versiculo" class="btn btn-primary form-control" type="submit"
              (click)='ObterCaixinhaPromessa()' />
          </div>

        </div>
      </div>
    </div>
    <!-- <div class="panel-footer">
        Os que confiam no SENHOR serão como o monte de Sião, que não se abala, mas permanece para sempre - Salmos 125:1
    </div> -->
  </div>
</div>
