name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1        
                
    - name: Build com o utilitario dotnet
      run: dotnet build ./src --configuration Release
    
    - name: Testes
      run: dotnet test ./src
